@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GoFormz Security Playground App</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Welcome To our Playground!</h2>
        <p>
            This is the open playground area! check out some of our secret stuff! ... If you have access to it! 
        </p>

    </div>


</div>